:root {
  background-color: #363636;
  font-family: Arial, Helvetica, sans-serif;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

button {
  cursor: pointer;  
}

body {
  background-color: #363636;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 30px 0px;
  color: white;
  font-size: 42px;
  font-weight: 500;
  text-align: center;
}


.datepicker-wrapper {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 60px;
  margin: 30px auto;
} 

.datepicker-display {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.calendar-dialog-btn {
  border: 0;
  background: none;
}

.datepicker-display .icon {
  height: 20px;
  width: auto;
}

.datepicker-display .calendar-icon {
  display: inline-block;
  min-height: 20px;
  min-width: 18px;
  background-image: url('./media/calendar-alt.svg');
  background-repeat: no-repeat;
}

.datepicker-display .icon path {
  fill: black;
}
.datepicker-display .icon:hover path {
  fill: blue;
}

.datepicker-dialog {
  width: 100%;
  max-width: 300px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}

.datepicker-dialog button {
  border: 0;
  background-color: inherit;
  display: inline-block;
  position: relative;
  min-height: 20px;
  min-width: 18px;  
  background-color: lightgray;
}

.datepicker-dialog button:hover {
  background-color: blue;
}

.datepicker-dialog #prev-month {
  -webkit-mask: url('/media/angle-left.svg') no-repeat center/contain;
  mask: url('/media/angle-left.svg') no-repeat center/contain;
}

.datepicker-dialog #next-month {
  -webkit-mask: url('/media/angle-right.svg') no-repeat center/contain;
  mask: url('/media/angle-right.svg') no-repeat center/contain;
}

.datepicker-dialog #pick-year {
  -webkit-mask: url('/media/angle-down.svg') no-repeat center/contain;
  mask: url('/media/angle-down.svg') no-repeat center/contain;
}

.datepicker-dialog .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid lightgrey;
}

.month-picker{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}

.year-picker{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px
}

table {
  width: 100%;
}

table thead {
  margin: 12px;
}

table th, table td {
  text-align: center;
  width: 2em;
  padding: 8px 4px;  
  border-radius: 8px;
} 

table .blocked-date {
  color: lightgray;
  background: linear-gradient(to top left, #fff calc(50% - 1px), lightgray, #fff calc(50% + 1px) );
}

table .selected-date {
  color: white;
  background-color: blue;
}

table .active-date:hover {
  background-color: lightgray;
}




